[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.8.1"
black = "*"
redbaron = "*"
numpy = "*"
python-minifier = "*"
bowler = "*"
ipython = "*"
six = "*"

[dev-packages]

[requires]
python_version = "3.9"
